.cell {
  width: 25px;
  height: 25px;
  border: 1px solid;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  &.dead {
    background-color: #000672;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/monkey-face_1f435.png');
  }
  &.alive {
    background-color: #edfffc;
    background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/microbe_1f9a0.png');
  }
}
