.tic-tac-toe {
  text-align: center;
  padding: 20px;

  .logo img {
    width: 200px;
    margin-bottom: 20px;
  }

  .player {
    height: 40px;
    margin-bottom: 10px;
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 20px auto;
    .square {
      width: 50px;
      border: 3px solid transparent;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 2rem;
      font-family: sans-serif;
      color: orange;
      &:nth-child(3n + 2) {
        border-right-color: orangered;
        border-left-color: orangered;
      }
      &:nth-child(n+4) {
        border-top-color: orangered;
      }
    }
  }
}
