nav {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &.f-col {
      flex-direction: column;
    }
    &.f-row {
      flex-direction: row;
    }

    li {
      margin: 10px;
      font-weight: 700;
    }
  }

  a {
    color: inherit;
    font-size: 1rem;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
