.board {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  .square {
    width: 30%;
    border: 1px solid;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: sans-serif;
  }
}
