.twenty48 {
  text-align: center;

  .logo img {
    margin-top: 20px;
    height: 130px;
  }

  .titles {
    height: 100px;
    padding: 10px;

    .game-over {
      font-weight: 500;
      font-size: 2rem;
      color: red;
    }
  }

  .board {
    display: flex;
    flex-wrap: wrap;
    width: 242px;
    margin: 20px auto;
    user-select: none;
    border: 1px solid orangered;
    box-shadow: 0 0 5px 1px #d27a71;
    transition: all 0.2s;

    &.up {
      box-shadow: 0 -4px 5px 0 #ab9164;
    }
    &.down {
      box-shadow: 0 4px 5px 0 #ab9164;
    }
    &.left {
      box-shadow: -4px 0 5px 0 #ab9164;
    }
    &.right {
      box-shadow: 4px 0 5px 0 #ab9164;
    }

    .tile {
      width: 60px;
      border: 1px solid transparent;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 2rem;
      font-family: sans-serif;
      color: orange;
      &:nth-child(n+5) {
        border-top-color: orangered;
      }
      &:not(:nth-child(4n+1)) {
        border-left-color: orangered;
      }
      &--0 {
        background-color: #d7d7d7;
      }
      &--2 {
        background-color: #f0f0f0;
        color: #343434;
      }
      &--4 {
        background-color: #f1ead0;
        color: #343434;
      }
      &--8 {
        background-color: #e8b880;
        color: #ffffff;
      }
      &--16 {
        background-color: #e8a57f;
        color: #ffffff;
      }
      &--32 {
        background-color: #e89382;
        color: #ffffff;
      }
      &--64 {
        background-color: #e8716e;
        color: #ffffff;
      }
      &--128 {
        background-color: #e8ce73;
        color: #ffffff;
      }
      &--256 {
        background-color: #84a352;
        color: #ffffff;
      }
      &--512 {
        background-color: #9ddbaf;
        color: #323232;
      }
      &--1024 {
        background-color: #5bbbc1;
        color: #ffffff;
        font-size: 1.5rem;
      }
      &--2048 {
        background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
        color: #ffffff;
        font-size: 1.5rem;
      }

      &.merged, &.new {
        -webkit-animation:pop-in 0.2s;
        -moz-animation:pop-in 0.2s;
        -ms-animation:pop-in 0.2s;
      }
    }
  }
}

.win-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border: 5px solid orangered;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    .text {
      font-size: 3rem;
    }
  }
}

::ng-deep .mat-tooltip.undo-tooltip {
  font-size: 14px;
}

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
