.game-of-life {
  .game-title {
    text-align: center;
    height: 105px;
  }

  .board {
    justify-content: space-between;

    .dashboard {
      background-color: #f1f1f1;
      border: 1px solid #bbbbbb;
      padding: 5px;
    }

    .field-wrapper {
      text-align: right;
      padding: 5px;

      .field {
        display: grid;
      }
    }
  }
}
