<div class="game-of-life" (keydown)="$event">
  <div class="row">
    <div class="col-12 game-title">
      <h1>Game Of <span class="green">Corona</span></h1>
      <p class="info">Draw a pattern of viruses and select game speed to see it spread
      <mat-icon class="info-icon" [matTooltip]="tooltip" matTooltipClass="info-tooltip">info</mat-icon>
      </p>
    </div>
  </div>

  <div class="board row">
    <div class="dashboard">
      <section class="pauser">
        <button class="pause" mat-button color="warn" (click)="pauseGame()">Pause</button>
        <button class="clear" mat-button color="warn" (click)="clearGame()">Clear</button>
      </section>

      <hr>

      <section class="auto-fill">
        <label>
          Auto fill
          <input type="range" [(ngModel)]="fillPercent">
          <span>
            <input matInput type="number" [(ngModel)]="fillPercent" min="0" max="100">
            %
          </span>
        </label>
        <button mat-raised-button color="primary" (click)="randomFill()">Random fill</button>
      </section>

      <hr>

      <section class="pattern-fill">
        <label>
          Toggle Mode
          <mat-checkbox [checked]="isToggleMode" (change)="setToggleMode()"></mat-checkbox>
        </label>
        <p class="title">Auto pattern</p>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="fillEdges(side.Top)">Top</button>
          <button mat-raised-button color="primary" (click)="fillEdges(side.Bottom)">Bottom</button>
          <button mat-raised-button color="primary" (click)="fillEdges(side.Left)">Left</button>
          <button mat-raised-button color="primary" (click)="fillEdges(side.Right)">Right</button>
          <button mat-raised-button color="primary" (click)="fillEdges(side.All)">Edges</button>
          <button mat-raised-button color="primary" (click)="fillEdges(side.X)">Big X</button>
        </div>

        <hr>

        <p class="title">Manual pattern</p>
        <label>
          <span>
          Size:
            <input matInput type="number" min="1" [(ngModel)]="tileSize" autocomplete="off">
          </span>
          <button mat-button (click)="setTiles(tileSize)">Add Tiles</button>
        </label>

        <label>
          <span>
            Size:
            <input matInput type="number" min="2" [(ngModel)]="colSpread" autocomplete="off">
          </span>
          <button mat-button (click)="fillLines(colSpread)">Add Columns</button>
        </label>

        <label>
          <span>
            Size:
            <input matInput type="number" min="2" [(ngModel)]="rowSpread" autocomplete="off">
          </span>
          <button mat-button (click)="fillLines(rowSpread, false)">Add Rows</button>
        </label>

        <label>
          <span>
            Size:
            <input matInput (input)="setPattern(patternSize)" [(ngModel)]="patternSize" min="1"
                   type="number" autocomplete="off">
          </span>
          <button mat-button (click)="setPattern(patternSize)">Pattern</button>
        </label>
      </section>

      <hr>

      <section class="start">
        <p class="title">Start speed</p>
        <label>
          <button *ngFor="let speed of [1, 2, 4, 8]; let i = index" mat-raised-button color="accent" [style]="{fontSize: (0.8 + i * 0.2) + 'em'}"
                  (click)="startGame(speed)">
            X{{speed}}
          </button>
        </label>
      </section>

      <hr>

      <section class="streak">
        <span>Longest pandemic: </span>
        <span>{{longestStreak}}</span>
        <button mat-button (click)="longestStreak = 0"><small>Reset</small></button>
      </section>
    </div>

    <div class="field-wrapper">
      <strong *ngIf="gameOver" class="game-over">GAME OVER! </strong>
      <div class="field"
           [ngStyle]="{'grid-template-columns': 'repeat(' + boardSize + ', 1fr)', width: 20 * boardSize + 'px'}">
        <div class="cells" *ngFor="let cell of field | async">
          <app-cell (mouseover)="onDraw(cell, $event)" (mousedown)="onDraw(cell, $event)" [alive]="cell.alive">
          </app-cell>
        </div>
      </div>
    </div>
  </div>
</div>
