<div class="game-of-life" (keydown)="$event">
  <div class="row">
    <div class="col-12 game-title">
      <h1>Game Of <span class="green">Corona</span></h1>
      <p class="info">Draw a patter of viruses and press start to see it spread
      <mat-icon class="info-icon" [matTooltip]="tooltip" matTooltipClass="info-tooltip">info</mat-icon>
      </p>
    </div>
  </div>

  <div class="board row">
    <div class="col-3 dashboard">
      <section class="start">
        <p class="title">Start speed</p>
        <label>
          <button *ngFor="let speed of [1, 2, 4, 8]; let i = index" mat-button color="accent" [style]="{fontSize: (0.8 + i * 0.2) + 'em'}"
                  (click)="startGame(speed)">
            X{{speed}}
          </button>
        </label>
      </section>

      <section class="pauser">
        <button class="pause" mat-raised-button color="warn" (click)="pauseGame()">Pause</button>
        <button class="clear" mat-raised-button color="warn" (click)="clearGame()">Clear</button>
      </section>

      <hr>

      <section class="auto-fill">
        <label>
          Auto fill
          <input type="range" [(ngModel)]="fillPercent">
          <span>
            <input type="number" [(ngModel)]="fillPercent" min="0" max="100" style="width: fit-content;">
            %
          </span>
        </label>
        <button mat-raised-button color="primary" (click)="randomFill()">Random fill</button>
      </section>

      <hr>

      <section class="pattern-fill">
        <label>
          Toggle Mode
          <mat-checkbox [(ngModel)]="boardService.toggleMode"></mat-checkbox>
        </label>
        <p class="title">Auto pattern</p>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="boardService.fillEdges('top')">Top</button>
          <button mat-raised-button color="primary" (click)="boardService.fillEdges('bottom')">Bottom</button>
          <button mat-raised-button color="primary" (click)="boardService.fillEdges('left')">Left</button>
          <button mat-raised-button color="primary" (click)="boardService.fillEdges('right')">Right</button>
          <button mat-raised-button color="primary" (click)="boardService.fillEdges()">Edges</button>
          <button mat-raised-button color="primary" (click)="boardService.fillX()">Big X</button>
        </div>

        <hr>

        <p class="title">Manual pattern</p>
        <label>
          <span>
          Size:
            <input type="number" min="1" [(ngModel)]="boardService.tileSize" style="width: 50px;">
          </span>
          <button mat-button (click)="boardService.fillTiles(boardService.tileSize + 1)">Add Tiles</button>
        </label>

        <label>
          <span>
            Size:
            <input type="number" min="2" [(ngModel)]="boardService.colSpread" style="width: 50px;">
          </span>
          <button mat-button (click)="boardService.fillLines(boardService.colSpread)">Add Columns</button>
        </label>

        <label>
          <span>
            Size:
            <input type="number" min="2" [(ngModel)]="boardService.rowSpread" style="width: 50px;">
          </span>
          <button mat-button (click)="boardService.fillLines(boardService.rowSpread, false)">Add Rows</button>
        </label>

        <label>
          <span>
            Size:
            <input (input)="boardService.fillPatter($event.target.value)" [(ngModel)]="boardService.pattern" min="1" style="width: 50px;"
                   type="number">
          </span>
          <button mat-button (click)="boardService.fillPatter(boardService.pattern)">Pattern</button>
        </label>
      </section>

      <hr>

      <section class="streak">
        <span>Longest pandemic: </span>
        <span>{{longestStreak}}</span>
        <button mat-button (click)="longestStreak = 0">Reset</button>
      </section>
    </div>

    <div class="field-wrapper">
      <strong *ngIf="gameOver" class="game-over">GAME OVER! </strong>
      <div class="field"
           [ngStyle]="{'grid-template-columns': 'repeat(' + boardService.BOARD_SIZE + ', 1fr)', width: 24 * boardService.BOARD_SIZE + 'px'}">
        <div class="cells" *ngFor="let cell of boardService.field">
          <app-cell (mouseover)="onDraw(cell, $event)" (mousedown)="onDraw(cell, $event)" [alive]="cell.alive">
          </app-cell>
        </div>
      </div>
    </div>
  </div>
</div>
