.game-of-life {
  .game-title {
    text-align: center;
    height: 85px;

    h1 {
      margin: 0;
      font-family: monospace;

      .green {
        color: #26a049;
        font-weight: 700;
      }
    }

    .info-icon {
      transform: scale(0.7);
      color: #585858;
    }
  }

  .board {
    justify-content: space-between;
    margin-top: 10px;

    .dashboard {
      background-color: #f1f1f1;
      border: 1px solid #bbbbbb;
      padding: 5px;

      section {
        text-align: center;
        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .title {
          text-align: left;
          font-weight: 700;
          font-size: 1rem;
        }

        &.pattern-fill {
          .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            gap: 5px;

            button {
              width: 60%;
            }
          }
        }

        &.start {
          p {
            margin: 0;
          }
          button:focus {
            outline: none;
          }
        }

        &.streak {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;
          font-size: 1rem;
        }
      }
    }

    .field-wrapper {
      text-align: right;
      padding: 5px;
      position: relative;

      .game-over {
        position: absolute;
        top: -25px;
        left: calc(50% - 55px);
        font-size: 1.2rem;
        color: #9f0000;
      }

      .field {
        display: grid;
      }
    }
  }
}

